.controls {
    max-width: 300px;
    margin: 0 auto;
    
    a {
        display: block;

        width: $button-size;
        height: 90px;

        border: 10px solid rgba(255,255,255,0.5);
        border-radius: 50%;

        /** Hide text */
        text-indent: -9999px;

        &.like {
            float: right;

            background: #66DB7A;
            background-image: url("../images/icon-like.png");
            background-repeat: no-repeat;
            background-position: center;
            border: 1px solid #4CB85F;
            box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.20);
        }

        &.dislike {
            float: left;

            background: #FE6858;
            background-image: url("../images/icon-dislike.png");
            background-repeat: no-repeat;
            background-position: center;
            border: 1px solid #DB4838;
            box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.20);
        }
    }
}