/** Fonts */
$font-heading: 'Lato', sans-serif;
$font-normal: 'Lato', sans-serif;

/** Text size */
$font-h1: 28px;
$font-h2: 20px;
$font-p: 18px;

/** Colors */
$color-black: #333;

/** Spacing */
$spacing-big: 120px;
$spacing-normal: 60px;
$spacing-small: 30px;

/** Width & height */
$box-size: 360px;
$button-size: 90px;