/** Fonts */
$font-heading: "Questrial", "helvetica", sans-serif;
$font-normal: "Old Standard TT", serif;

/** Colors */

/** Spacing */
$spacing-big: 120px;
$spacing-normal: 60px;
$spacing-small: 30px;

/** Width & height */
$box-size: 360px;
$button-size: 90px;