body {
    background: url("../images/bg.png") repeat;
}

.container {
    @include outer-container(960px);
    margin-top: $spacing-normal;
}

header {
    h1 {
        letter-spacing: 2px;
    }
}

header,
section,
figure {
    @include clearfix;
}

.stack,
.books {
    margin: $spacing-small 0;
}