body {
    background: #00C8FF;
    background-image: radial-gradient(48% 134%, rgba(255,255,255,0.50) 50%, rgba(255,255,255,0.00) 98%);
}

* {
    outline: none;    
}

.container {
    @include outer-container(960px);
    margin-top: $spacing-normal;
}

.ui-mobile [data-role=page], .ui-mobile [data-role=dialog], .ui-page {
    left: 50%;
    margin-left: -480px;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background-color: transparent;
}

.ui-mobile .ui-page-active {
    overflow-x: visible;
}

header {
    h1 {
        letter-spacing: 5px;
        font-weight: 300;
        text-shadow: 1.414px 1.414px 2px rgba(0, 0, 0, 0.2);

        strong {
            font-weight: 600;
        }
    }
}

header,
section,
figure {
    @include clearfix;
}

.stack,
.books {
    margin: $spacing-small 0;
}