.book {
    @include span-columns(3);
    @include omega(4n);

    margin-bottom: 30px;
    
    figure {
        @include box-shadow(220px, 280px);

        background-size: cover;

        border-radius: 2px;

        left: 50%;
        margin-left: -(220px/2);
    }
}