body {
    font-family: $font-normal;
    color: $color-black;
}

h1, h2, h3 {
    font-family: $font-heading;
    margin: 0 auto;
    line-height: 1;
}

h1 {
    font-size: $font-h1;
    letter-spacing: 5px;
    font-weight: 300;
    color: $color-white;

    strong {
        font-weight: 400;
    }
}

strong {
    font-weight: bolder;
}

p {
    font-size: $font-p;
    line-height: 1.8;
}