<div class="email-popup">
    <div class="close"></div>
    <h1>Lijstje sturen via e-mail</h1>
    <form>
        <input type="email" name="email" placeholder="E-mailadres" autocomplete="off" autofocus />
        <input type="button" name="submit" value="Verzenden">
    </form>
</div>