{{#each this}}
    <div class="book">
        <figure data-index="{{ @key }}">
            <img src="{{ coverimage }}" alt="" />
            <div class="title">{{ title }}</div>
            <div class="delete"></div>
        </figure>
    </div>
{{/each}}