/**
 * @author: Shaun Janssens
 * @copyright: open Summer of code
 */

/** Colors */
$color-black: #333;
$color-white: #fff;
$color-blue: #00C8FF;
$color-like: #66DB7A;
$color-dislike: #FE6858;

/** Spacings */
$spacing1: 120px;
$spacing2: 60px;
$spacing3: 30px;

/** Fonts */
$font-stack: "Open Sans", "Helvetica", Arial, sans-serif;
$heading: 28px;
$paragraph: 18px;
$line-height: 1.8;

/** Widths & heights */
$container-w: 960px;
$container-w-min: 320px;
$tag-w: 360px;
$tag-h: 360px;
$book-w: 220px;
$book-h: 300px;
$book-big-w: 280px;
$book-big-h: 380px;
$button-w: 90px;
$button-h: 90px;

/** Other */
$border-radius: 6px;