@media only screen and (max-width: 980px) {
    body {
        overflow: visible;
        overflow-x: hidden;
    }
    .overview main {
        .book {
            width: 33%;
        }

        .overlay .container {
            .sidebar {
                width: 40%;
                max-width: $book-big-w + $spacing3;
            }

            .maincontent {
                width: 60%;

                .close {
                    margin: -20px 30px 0 0;
                }
            }
        }
    }
}
@media only screen and (max-width: 800px) {

    .swipe {
        .controls {
            span {
                &#dislike {
                    float: left;
                    margin: 0;

                }

                &#like {
                    float: right;
                    margin: 0 0 0 210px;
                }

                &#dislike.zoom {
                    width: $button-w;
                    height: $button-h;
                    margin: 0;
                }

                &#like.zoom {
                    width: $button-w;
                    height: $button-h;
                    margin: 0 0 0 210px;
                }
            }
        }
    }
}
@media only screen and (max-width: 720px) {
    .overview main .book {
        width: 50%;
    }
}
@media only screen and (max-width: 500px) {
    .container {
        margin: 30px auto 0;
    }
    h1 {
        font-size: 22px
    }
    .swipe {
        .stack {
            height: 300px;
            margin-bottom: 60px;

            li {
                margin-left: -150px;
                width: 300px;
                height: 300px;

                figure {
                    width: 300px;
                    height: 300px;
                }
            }
        }
        .controls {
            padding: 0 60px;

            span {
                width: 70px;
                height: 70px;

                &#like {
                    float: right;
                    margin: 0 0 0 170px;
                }

                &#dislike.zoom {
                    width: 70px;
                    height: 70px;
                }

                &#like.zoom {
                    width: 70px;
                    height: 70px;
                    margin: 0 0 0 170px;
                }
            }
        }
    }
    .overview {
        main {
            .book {
                width: 100%;
            }
            .overlay {
                .container {
                    .sidebar {
                        display: none;
                    }

                    .maincontent {
                        width: 100%;
                        height: auto;
                        padding: 0 0 0 20px;

                        .meta {
                            position: relative;
                            margin: 20px 0 0;
                            span {
                                display: block;
                                padding: 5px 0;

                                &:nth-child(2) {
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// And now: duust media queries from Wesley
@media screen and (min-width:320px) and (max-width:501px){
    .overview {
        header {
            padding:0;
            margin-bottom:50px;

            h1 {

                text-align:center;
                float:none;
                margin-bottom:15px;
            }

            .icon-container {
                float:none;
                position: absolute;
                left:33%;
            }
        }
    }

}
@media screen and (min-width:501px) and (max-width:569px){
    .overview {
        header {
            padding:0;
            margin-bottom:50px;

            h1 {

                text-align:center;
                float:none;
                margin-bottom:15px;
            }

            .icon-container {
                float:none;
                position: absolute;
                left:33.3%;
            }
        }
    }
}
@media screen and (min-width:570px) and (max-width:626px){
    .overview {
        header {
            padding:0;
            margin-bottom:50px;

            h1 {
                float:left;
                margin-left:5%;
            }

            .icon-container {
                float:right;
                margin-right:5%;

            }
        }
    }
}
@media screen and (min-width:627px) and (max-width:720px){
    .overview {
        header {
            padding:0;
            margin-bottom:50px;

            h1 {
                float:left;
                margin-left:7%;
            }

            .icon-container {
                float:right;
                margin-right:7%;

            }
        }
    }
}
@media screen and (min-width:720px) and (max-width:980px){
    .overview {
        header {
            padding:0;
            margin-bottom:50px;

            h1 {
                float:left;
                margin-left:3.5%;
            }

            .icon-container {
                float:right;
                margin-right:3.5%;

            }
        }
    }
}