/**
 * @author: Shaun Janssens
 * @copyright: open Summer of code
 */

.swipe {
    header {
        text-align: center;
        margin: 0 0 $spacing2 + $spacing3;
    }

    .stack {
        margin: $spacing2 0;
        height: $tag-h;

        li {
            list-style: none;
            position: absolute;
            height: $tag-h;
            width: $tag-w;

            // Center absolute div
            left: 50%;
            margin-left: -($tag-w/2);

            cursor: hand;
            zoom: 100%;

            overflow: hidden;

            box-sizing: content-box;

            transition: .3s margin-top;

            @include tag-shadow();

            &.tag_2 {
                zoom: 90%;
                margin-top: -20px;
                transition: .3s margin-top;
                transition-delay: .1s;
            }
            &.tag_3 {
                zoom: 80%;
                margin-top: -43px;
                transition: .3s all;
                transition-delay: .4s;
            }
            &.tag_4 {
                zoom: 10%;
                margin-top: -60px;
                transition: .5s all;
                transition-delay: .6s;
            }

            figure {
                @include box-shadow($tag-w, $tag-h);
            }

            // Fake like dislike animation
            &.rotate-left {
                transform: rotate(30deg) scale(0.8);
                transition: 1s;
                margin-left: 400px !important;
                cursor: e-resize;
                opacity: 0;
            }
            &.rotate-right {
                transform: rotate(-30deg) scale(0.8);
                transition: 1s;
                margin-left: -400px !important;
                cursor: w-resize;
                opacity: 0;
            }
        }
    }

    .controls {
        max-width: $tag-w;
        margin: 0 auto;
        padding: 0 $spacing3;

        span {
            display: block;

            width: $button-w;
            height: $button-h;

            border-radius: 50%;

            box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.20);

            // Dislike & like buttons
            &#dislike {
                float: left;
                background: $color-dislike;
                border: 1px solid darken($color-dislike, 10);
            }
            &#like {
                float: right;
                background: $color-like;
                border: 1px solid darken($color-like, 10);
            }
        }
    }
}

.bg-liked {
    animation-name: bg-liked;
    animation-duration: 1s;
}

.bg-disliked {
    animation-name: bg-disliked;
    animation-duration: 1s;
}

@keyframes bg-liked {
    0% {
        background: rgba($color-blue, 1);
        background-image: radial-gradient(48% 134%, rgba(255,255,255,0.30) 50%, rgba(255,255,255,0.00) 98%);
    }
    25% {
        background: rgba(mix($color-like, $color-blue, 85%), .5);
        background-image: radial-gradient(48% 134%, rgba(255,255,255,0.30) 50%, rgba(255,255,255,0.00) 98%);
    }
    100% {
        background: rgba($color-blue, 1);
        background-image: radial-gradient(48% 134%, rgba(255,255,255,0.30) 50%, rgba(255,255,255,0.00) 98%);
    }
}

@keyframes bg-disliked {
    0% {
        background: rgba($color-blue, 1);
        background-image: radial-gradient(48% 134%, rgba(255,255,255,0.30) 50%, rgba(255,255,255,0.00) 98%);
    }
    25% {
        background: rgba(mix($color-dislike, $color-blue, 85%), .5);
        background-image: radial-gradient(48% 134%, rgba(255,255,255,0.30) 50%, rgba(255,255,255,0.00) 98%);
    }
    100% {
        background: rgba($color-blue, 1);
        background-image: radial-gradient(48% 134%, rgba(255,255,255,0.30) 50%, rgba(255,255,255,0.00) 98%);
    }
}