//Created by Wesley Vanbrabant
//Copyright: open Summer of code 2015
$font-stack: helvetica, sans-serif;
$border-color: #d9d9d9;
$color-green: #2cb145;
$color-red: #ff5a00;
$color-header-bg: #42413B;
$color-white: #FFF;
$border-radius: 10px;
$thin-font: 100;

* {
    box-sizing: border-box;
}

.startpage {
    #page-wrapper {
        .text-center {
            text-align: center;
        }

        #header {
            background-color: $color-header-bg;
            margin-bottom: 10%;

            h1 {
                font-family: $font-stack;
                color: $color-white;
            }
        }

        #content {
            img.resize {
                max-width: 100%;
                height: auto;
            }

            .picture-container {
            }

            .row {
                margin: 15px 0 25px;

                .button {
                    display: block;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    border: 7px solid $border-color;
                    line-height: calc(80px + 14px);
                    text-align: center;
                    background: #ffffff;
                    float: left;

                    .icon {
                        width: 50px;
                        height: 50px;
                    }

                    .like {
                        color: $color-green;
                        padding: 2px 0 0 12px;

                        #like {
                            fill: currentColor;
                        }
                    }

                    .dislike {
                        position: relative;
                        padding: 10px 0 0 7px;
                        left: 22px;

                        #cross {
                            position: absolute;
                            display: block;
                            width: 7px;
                            height: 50px;
                            border-radius: 4px;
                            background: $color-red;
                            transform: rotate(45deg);

                            &:after {
                                content: "";
                                position: absolute;
                                display: block;
                                width: 7px;
                                height: 50px;
                                border-radius: 4px;
                                background: $color-red;
                                transform: rotate(90deg);
                            }
                        }
                    }
                }

                .btn {
                    border: 3px solid;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    padding-top: 10px;
                }

                .btn-no {
                    @extend .btn;
                    border-color: $color-red;
                }

                .btn-yes {
                    @extend .btn;
                    border-color: $color-green;
                }
            }
        }
    }
}

.suggestion {
    #page-wrapper {
        .text-center {
            text-align: center;
        }

        #header {
            background-color: $color-header-bg;
            margin-bottom: 10%;

            h1 {
                font-family: $font-stack;
                color: $color-white;
            }
        }

        #content {
            img.resize {
                max-width: 100%;
                height: auto;
            }

            .picture-container {
            }


            .row {
                margin: 15px 0 25px;

                .book{

                    img {
                        border-radius:7px;
                    }
                }
            }
        }
    }
}

.detail {
    #page-wrapper {
        .text-center {
            text-align: center;
        }

        #header {
            background-color: $color-header-bg;
            margin-bottom: 10%;

            h1 {
                font-family: $font-stack;
                color: $color-white;
            }
        }

        #content {
            img.resize {
                max-width: 100%;
                height: auto;
            }

            .row {
                margin: 15px 0 25px;

                .information {
                    text-align:left;
                    .title {
                        color: $color-red;
                        font-weight: $thin-font;
                    }

                    .synopsis{

                    }
                }
            }
        }
    }
}


#container-swipebox {
    list-style-type: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.buddy {
    display: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    width: 360px;
    height: 360px;
    top: 50px;
    left: 50px;
    position: absolute;
    cursor: hand;
    left: 50%;
    margin-left: -180px;
}
.rotate-left {
    transform: rotate(30deg) scale(0.8);
    transition: 1s;
    margin-left: 400px;
    cursor: e-resize;
    opacity: 0;
}
.rotate-right {
    transform: rotate(-30deg) scale(0.8);
    transition: 1s;
    opacity: 0;
    margin-left: -400px;
    cursor: w-resize;
}
.avatar {
    background: #222;
    width: 340px;
    height: 340px;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    background-size: 100% auto !important;
    background-position: center;
    background-repeat: no-repeat;
}
.page-wrapper {
    margin-top: 60px;
}
#header {
    display: none;
}
.buddy {
    position: absolute;
}

.detail {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(255,255,255,.9);
}

.detail .bookcover img {
    height: 655px;
    width: auto;
}

.detail h1 {
    margin-top: 0;
}

.button.back {
    background: none;
    padding: 10px 40px;
    font-weight: bold;
    display: inline-block;
    border-radius: 3px;
    text-shadow: none;
    border: 2px solid #FF5A00;
    margin-top: 40;
    font-size: 14px;
}

.buttons .like {
    background: url("../images/like.png") no-repeat;
    width: 41px;
    height: 38px;
    margin: 15px 0 0 13px;
}

.buttons .dislike {
    background: url("../images/dislike.png") no-repeat;
    width: 38px;
    height: 37px;
    margin: 15px 0 0 14px;
    left: 0 !important;
}
.buttons {
    display: block;
    width: 360px;
    position: absolute;
    left: 50%;
    margin-left: -180px !important;
    top: 430;
    padding: 0 40px;

}
.button.no {
    float: right !important;
}