extends layouts/master
block vars
    - var bodyClass = "step2";

block content
    div.container
        header
            h1 Dit zijn jouw <strong>suggesties</strong>
        section.books
            each val, index in ['book-1.png', 'book-2.png', 'book-3.png', 'book-1.png', 'book-3.png', 'book-1.png', 'book-3.png', 'book-2.png']
                div.book
                    figure(style="background-image: url('images/" + val + "');")
