extends layouts/master

block vars
    - var bodyClass = "swipe";

block content
    div.container
        header
            h1 Hallo ik ben <strong>Bieblo</strong>
        section.stack
            ul

        section.controls
            a.dislike(href="#dislike") Niet leuk
            a.like(href="#like") Leuk
