//Created by Wesley Vanbrabant
//Copyright: open Summer of code 2015
$font-stack: helvetica, sans-serif;
$border-color: #d9d9d9;
$color-green: #2cb145;
$color-red: #ff5a00;
$color-header-bg: #42413B;
$color-white: #FFF;
$border-radius: 10px;
$thin-font: 100;

* {
    box-sizing: border-box;
}

.startpage {
    #page-wrapper {
        .text-center {
            text-align: center;
        }

        #header {
            background-color: $color-header-bg;
            margin-bottom: 10%;

            h1 {
                font-family: $font-stack;
                color: $color-white;
            }
        }

        #content {
            img.resize {
                max-width: 100%;
                height: auto;
            }

            .picture-container {
            }

            .row {
                margin: 15px 0 25px;

                .button {
                    display: block;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    border: 7px solid $border-color;
                    line-height: calc(80px + 14px);
                    text-align: center;
                    background: #ffffff;
                    float: left;

                    .icon {
                        width: 50px;
                        height: 50px;
                    }

                    .like {
                        color: $color-green;
                        padding: 2px 0 0 12px;

                        #like {
                            fill: currentColor;
                        }
                    }

                    .dislike {
                        position: relative;
                        padding: 10px 0 0 7px;
                        left: 22px;

                        #cross {
                            position: absolute;
                            display: block;
                            width: 7px;
                            height: 50px;
                            border-radius: 4px;
                            background: $color-red;
                            transform: rotate(45deg);

                            &:after {
                                content: "";
                                position: absolute;
                                display: block;
                                width: 7px;
                                height: 50px;
                                border-radius: 4px;
                                background: $color-red;
                                transform: rotate(90deg);
                            }
                        }
                    }
                }

                .btn {
                    border: 3px solid;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    padding-top: 10px;
                }

                .btn-no {
                    @extend .btn;
                    border-color: $color-red;
                }

                .btn-yes {
                    @extend .btn;
                    border-color: $color-green;
                }
            }
        }
    }
}

.suggestion {
    #page-wrapper {
        .text-center {
            text-align: center;
        }

        #header {
            background-color: $color-header-bg;
            margin-bottom: 10%;

            h1 {
                font-family: $font-stack;
                color: $color-white;
            }
        }

        #content {
            img.resize {
                max-width: 100%;
                height: auto;
            }

            .picture-container {
            }

            .row {
                margin: 15px 0 25px;
            }
        }
    }
}

.detail {
    #page-wrapper {
        .text-center {
            text-align: center;
        }

        #header {
            background-color: $color-header-bg;
            margin-bottom: 10%;

            h1 {
                font-family: $font-stack;
                color: $color-white;
            }
        }

        #content {
            img.resize {
                max-width: 100%;
                height: auto;
            }

            .row {
                margin: 15px 0 25px;

                .information {
                    text-align:left;
                    .title {
                        color: $color-red;
                        font-weight: $thin-font;
                    }

                    .synopsis{

                    }
                }
            }
        }
    }
}
